<!DOCTYPE html>
<html>
<head>
    <title><%= locals.title %></title>
</head>
<body>
<a href="/hearthstone/prototypes/search">Card search prototype</a><br/>
<a href="/hearthstone/prototypes/drag">Card drag prototype</a><br/>
</body>
</html>
